html {
    font-size: 62.5%;
}
body {
    margin: 2.5rem;
   background: url(images/photo_2021-11-11_19-48-36.jpg);
}
.card {
    background-color: rgb(188, 171, 115);
    padding: 1.8rem;
    border-radius: 3rem;
    box-shadow: 0 0 20px 5px rgb(131, 125, 125);
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    padding-top: 1rem;
}
h1::before {
    content: open-quote;
}
h1::after {
    content: close-quote;
}
.yosi {
    width: 80%;
    padding: 0.3rem;
}
.beti {
    font-size: 1.7rem;
    font-style: italic;

}
.bb {

    width: 10rem;
}
.bb img {
    padding: 3rem;
    
}

@media screen and (min-width: 768px){
    .body {
        overflow: hidden;
    }
    .card {
        margin: 10rem;
    }
    .yosi {
        width: 60%;
    }
    h1 {
        font-size: 3.5rem;
    }
    .beti {
        font-size: 2.5rem;
    }
    .bb {
        width: 25rem;
    }
}
@media screen and (min-width: 1024px) {
    h1 {
        font-size: 4.3rem;
    }
    .yosi {
        width: 52%;
    }
}